USE [FirstBase]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 10.12.2018 19:52:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[id] [int] NOT NULL,
	[name] [nvarchar](50) NULL,
	[category] [nvarchar](50) NULL,
	[price] [real] NULL,
	[discount] [real] NULL,
	[quantity] [nchar](10) NULL,
	[measurement] [nchar](10) NULL,
	[producer] [nvarchar](50) NULL,
	[country] [nvarchar](50) NULL,
	[supplier] [nvarchar](50) NULL,
	[date_of_delivery] [date] NULL,
	[expire_date] [date] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Product] ([id], [name], [category], [price], [discount], [quantity], [measurement], [producer], [country], [supplier], [date_of_delivery], [expire_date]) VALUES (1, N'Бананы сушеные', N'Сухофрукты', 18.9905, 10, N'500       ', N'шт        ', N'Nong Truong Song Hau', N'Вьетнам', N'ООО "АРИОЛ"', CAST(N'2018-11-10' AS Date), CAST(N'2020-11-10' AS Date))
INSERT [dbo].[Product] ([id], [name], [category], [price], [discount], [quantity], [measurement], [producer], [country], [supplier], [date_of_delivery], [expire_date]) VALUES (2, N'Изюм"Султан"', N'Сухофрукты', 23.503, 0, N'1000      ', N'шт        ', N'Jam Atlas gharb pjs Co', N'Иран', N'ООО "Сергеос ЛТД"', CAST(N'2018-05-18' AS Date), CAST(N'2021-05-18' AS Date))
INSERT [dbo].[Product] ([id], [name], [category], [price], [discount], [quantity], [measurement], [producer], [country], [supplier], [date_of_delivery], [expire_date]) VALUES (3, N'Инжир Лиза 150г', N'Сухофрукты', 56.9905, 10, N'2000      ', N'шт        ', N'Bio Planet LTD', N'Турция', N'ООО "Эколотос"', CAST(N'2018-07-07' AS Date), CAST(N'2019-07-07' AS Date))
